<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
	<servlet>
		<servlet-name>BgColor</servlet-name>
        	<servlet-class>BgColor</servlet-class>
        	
        	
		<init-param>
			<param-name>color</param-name>
			<param-value>blue</param-value>
		</init-param>
		
		
		
	
	</servlet>
	 <servlet-mapping>
	            <servlet-name>BgColor</servlet-name>
	            <url-pattern>/BgColor</url-pattern>
    </servlet-mapping>


</web-app>